body {
    margin: 0px;
    width: 100%;
    padding: 0px;
}

.nav {
    padding: 20px;
    text-align: right;
}

.nav-link {
    margin-left: 20px;
}

.nav-link:hover {
    color: lightgray;
    text-decoration-line: underline;
    cursor: pointer;
}

section {
    margin-top: 10px;
    text-align: center;
}

img {
    width: 550px;
    height: 220px;
    cursor: pointer;
}

input {
    width: 600px;
    height: 45px;
    font-size: 20px;
    box-shadow: none;
    padding-left: 60px;
    margin-bottom: 25px;
    border-radius: 25px;
    border: 1px solid rgb(223, 223, 223);
}

input:focus {
    border: 1px solid white;
    outline: 0px solid white;
    box-shadow: 0px 1px 5px 1px rgb(223, 223, 223);
}

input:hover {
    border: 1px solid white;
    outline: 0px solid white;
    box-shadow: 0px 1px 5px 1px rgb(223, 223, 223);
}

.buttons {
    width: 100%;
    margin-top: 5px;
    box-align: left;
    display: inline-block;
}

button {
    margin: 5px;
    width: 200px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #5d5d5d;
    border-radius: 5px;
    background-color: #eeeeee;
}

button:hover {
    color: black;
    border: 0.5px solid #bfbfbf;
    box-shadow: 0px 0.5px 2px 1px rgb(223, 223, 223);
}

.mic {
    top: 5px;
    width: 24px;
    left: -50px;
    height: 24px;
    position: relative;
}

.search {
    top: 35px;
    right: 300px;
    position: relative;
}

.offer {
    display: inline-block;
    line-height: 28px;
}

.offer a {
    text-decoration: none;
}